* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}
nav {
  height: 70px;
  background-color: #004c4c;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: #b2d8d8;
  font-size: 20pt;
  font-family: "Times New Roman", Times, serif;
}

.hero {
  max-width: 1800px;
  margin-top: 20px;
  height: 500px;
  background-image: url(images/kofe_chashka_kniga_181754_800x1200.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  margin-top: 20px;
  text-decoration: none;
  color: #004c4c;
  font-size: 40pt;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-color: #b2d8d8;
}

.authorname {
  margin-top: 20pt;
  text-decoration: none;
  color: #008080;
  font-size: 20pt;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.recent {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: #004c4c;
  font-size: 30pt;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.intro p {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: #008080;
  font-size: 20pt;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.intro h2 {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: #004c4c;
  font-size: 40pt;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.contentone {
  background-color: #b2d8d8;
  margin-bottom: 30px;
}

.contenttwo {
  background-color: #b2d8d8;
  margin-bottom: 30px;
}

.content p {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: #008080;
  font-size: 20pt;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.content h3 {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: #004c4c;
  font-size: 20pt;
  font-family: "Times New Roman", Times, serif;
}

.secondaryimage {
  height: 200px;
  width: 400px;
  background-image: url(images/tea-book-with-glasses-bed_23-2147711557.avif);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 550px;
}

.contentthree {
  background-color: #b2d8d8;
  margin-bottom: 30px;
}
.previous {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: #004c4c;
  font-size: 40pt;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.contentfour {
  background-color: #b2d8d8;
  margin-bottom: 30px;
}
